.alphabetSection {
  display: inline-block;
  padding: 5px 10px;
  
  
};

#infoSection {
  display: flex;
  flex-direction: column;

};

#spellInfo {

}
#spellDescSpan {
 float:right;
 width:50%;

}
.spellP{
  
}

#pageButtons{

  position:relative;
  top:70%;
  left:2%;
}